h1{
    text-align: center;
}
h2{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
img{
    width: 400px;
    height: 350px;
    border-radius: 0 50px;
}
body{
    color: black;
   background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.monuments{
    width:250px;
    height: 225px;
    margin: auto  20px 70px 20px;
}

.Center{
    margin: auto 100px auto 100px;
    display: block;
}




