h1{
    text-align: center;
}
h2{
    text-transform: capitalize;
    text-align: center;
}
img{
    width: 400px;
    height: 350px;
    border-radius: 0 50px;
}
body{
    color: black;
    background-color: antiquewhite;
}

.monuments{
    width:250px;
    height: 225px;
}

.center{
    margin: auto auto auto 150px;
    display: block;
}